figure {
  display: block;
  position: relative;
  float: left;
  overflow: hidden;
  margin: 5px;
}
figcaption {
  width: 100%;
  height: 100%;
  position: absolute;
  background: black;
  background: rgba(0, 0, 0, 0.4);
  color: white;
  opacity: 0;
}
figure:hover figcaption {
  opacity: 1;
}
figure:hover:before {
  opacity: 0;
}
.cap-left:before {
  bottom: 10px;
  left: 10px;
}
.cap-left figcaption {
  bottom: 0;
  left: -30%;
}
.cap-left:hover figcaption {
  left: 0;
}
.cap-right:before {
  bottom: 10px;
  right: 10px;
}
.cap-right figcaption {
  bottom: 0;
  right: -30%;
}
.cap-right:hover figcaption {
  right: 0;
}
.cap-top:before {
  top: 10px;
  left: 10px;
}
.cap-top figcaption {
  left: 0;
  top: -30%;
}
.cap-top:hover figcaption {
  top: 0;
}
.cap-bot:before {
  bottom: 10px;
  left: 10px;
}
.cap-bot figcaption {
  left: 0;
  bottom: -30%;
}
.cap-bot:hover figcaption {
  bottom: 0;
}

header {
  background: #fff;
  height: 75px;
}
.block {
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-justify-content: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-align-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.block__center {
  height: 300px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.block__line {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.block__elem {
  width: 292px;
  height: 292px;
}
.block__content {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-between;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

* {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
body {
  background: #fafafa;
  font: 16pt/1.5 'Roboto:400', Helvetica, san-serif;
}
.container {
  margin: 0 auto;
  padding: 0 230px;
}
@media screen and (max-width: 934px) {
  .container {
    padding: 0;
    margin: 0;
  }
}
@media (max-width: 550px) {
  .search__block {
    width: 0;
    visibility: hidden;
    padding: 0;
    margin: 0;
  }
}


.post {
  width: 100%;
}
.post__media img {
  max-width: 600px;
  max-height: 600px;
}
.post__comments {
  margin-left: 20px;
}
.img40 {
  max-width: 40px;
  min-height: 40px;
}

.userinfo {
  margin: 30px 0;
  font-family: 'Roboto', sans-serif;
  font-size: 12pt;
}
.avatar__block {
  width: 250px;
  display: block;
  margin-left: 50px;
}
.avatar__block__img {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
  position: relative;
  width: 150px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.btn_follow {
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background: #41a1f2;
  padding: 8px 28px;
  border: none;
  color: white;
}
@media (max-width: 735px) {
  .avatar__block {
    margin-right: 28px;
  }
}

