@import url('variables.less');
*{
	margin: 0;
	padding: 0;
}

ul{
	list-style: none;
}

a{
	text-decoration: none;
}

body{
	background: #fafafa;
	font: 16pt/1.5 'Roboto:400', Helvetica, san-serif;
}

.container{
	// width: calc(100% - @common-padding * 2);
	margin: 0 auto;
	padding:0 @common-padding;
}

@media screen and (max-width: 934px) {
	.container{
		padding: 0;
		margin: 0;
	}
}

@media (max-width: 550px){
	.search__block{
		width: 0;
		visibility: hidden;
		padding: 0;
		margin: 0;
	}
}
