@import url('mixins.less');

.userinfo{
	margin: 30px 0;
	font-family:'Roboto', sans-serif;
	font-size: 12pt;
}

.avatar__block{
	width: 250px;
	display: block;
	margin-left: 50px;
	&__img{
    box-sizing: border-box;
    overflow: hidden;
	    position: relative;
		width: 150px;
		.round-borders(50%);
	}

}
.btn_follow{
	.round-borders(4px);
	background: #41a1f2;
	padding: 8px 28px;
	border: none;
	color: white
	
}


@media (max-width: 735px){
		.avatar__block {
	    margin-right: 28px;
	}
}

